<!DOCTYPE html>
<html>
  <head>
    <title>About My Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center" style="height:50vh;">
        <div class="col-8 text-center">
          <h1>about</h1>
          <p>About content goes here.</p>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-base.min.js"
      integrity="sha384-MJtFbjaTyHSTce+wtOgXZ/GxKnkuKkD11YfQzLRLCKyO+Ony/1BNUJj2
