
{% extends "layout.html" %}
{% block body %}
    <script>
        	


        var player;
		var main



		function onYouTubeIframeAPIReady() {
			'use strict';
		
			var inputVideoId = document.getElementById('YouTube-video-id');
			var videoId = inputVideoId.value;
			var suggestedQuality = 'hd720';
			var height = 390;
			var width = 640;
			var youTubePlayerVolumeItemId = 'YouTube-player-volume';


		
		
			function onError(event) {
				player.personalPlayer.errors.push(event.data);
			}
		
		
			function onPlayerReady(event) {
				var YTplayer = event.target;
		
				YTplayer.loadVideoById({suggestedQuality: suggestedQuality,
									  videoId: videoId
									 });
				
				YTplayer.pauseVideo();
				recordData = 0;
				run();
				console.log("video ID: ", videoId)
				
				
				youTubePlayerDisplayFixedInfos();
			}
		
		
			function onPlayerStateChange(event) {
				var volume = Math.round(event.target.getVolume());
				var volumeItem = document.getElementById(youTubePlayerVolumeItemId);
		
				if (volumeItem && (Math.round(volumeItem.value) != volume)) {
					volumeItem.value = volume;
				}

				if (event.data == YT.PlayerState.PLAYING) {
					var currentTime = new Date().getTime();
					var eventType = "playing";
					var infos = eventType;
					outE = outE + currentTime + "#" + infos + "#" +  "\n";

		
				}else if (event.data == YT.PlayerState.ENDED){
					var currentTime = new Date().getTime();
					var eventType = "ended";
					var infos = eventType;
					outE = outE + currentTime + "#" + infos + "#" + "\n";
					
		
				}else if (event.data == YT.PlayerState.PAUSED){
					var currentTime = new Date().getTime();
					var eventType = "paused";
					let infos = eventType
					outE = outE + currentTime + "#" + infos + "#" + "\n";
					
		
				}else if (event.data == YT.PlayerState.BUFFERING){
					var currentTime = new Date().getTime();
					var eventType = "buffering"
					var infos = eventType;
					outE = outE + currentTime + "#" + infos + "#" + "\n";
		
				}else if (event.data == YT.PlayerState.CUED){
					var currentTime = new Date().getTime();
					var eventType = "cued"
					var infos = eventType;
					outE = outE + currentTime + "#" + infos + "#" + "\n";
				
				}
			};

			function onPlayerPlaybackQualityChange(event){
				var currentTime = new Date().getTime();
				var infos = "playQualityChange:"+ event.data;
				outE = outE + currentTime + "#" + infos + "#" + "\n";

			}
				
			player = new YT.Player('player',
										  {videoId: videoId,
										   height: height,
										   width: width,
										   playerVars: {'autohide': 0,
														'cc_load_policy': 0,
														'controls': 1,
														'disablekb': 1,
														'autoplay' : 0,
														'iv_load_policy': 3,
														'modestbranding': 1,
														'rel': 0,
														'showinfo': 0,
														'enablejsapi' : 1
													   },
										   events: {'onError': onError,
													'onReady': onPlayerReady,
													'onStateChange': onPlayerStateChange,
													'onPlaybackQualityChange': onPlayerPlaybackQualityChange
												   }
										  });
		
			// Add private data to the YouTube object
			player.personalPlayer = {'currentTimeSliding': false,
											'errors': []};
		}
		
		
		
		function playerActive() {
			//'use strict';
		
			return player && player.hasOwnProperty('getPlayerState');
		}
		

		function run(){
			
			var record = recordData
			console.log("record?", recordData)
			getInfos();

			if (x <= 3600 && record){

				var currentPlayTime = player.getCurrentTime();
				//var i = player.buffered.length;
				var availablePlaybackTime = player.getDuration();
				var bufferedTime = availablePlaybackTime - currentPlayTime;
				var percentBufferedVideo = (player.getVideoLoadedFraction() * 100).toFixed(1)
				outC = outC + new Date().getTime() + "#" +  currentPlayTime + "#" + bufferedTime + "#" + availablePlaybackTime + "#" + percentBufferedVideo + "#" +  "\n";
				document.getElementById("outC").innerHTML = outC;
				document.getElementById("outE").innerHTML = outE;
				//console.log("Video outE", outE)
				x++;
				setTimeout(run, 1000);
			}else {
			}

		};



		function getInfos(){
			var currentTime = new Date().getTime();
			var inputVideo = document.getElementById('YouTube-video-id');
			var inputVideoId = inputVideo.value;
		
			if(playQuality !=  player.getPlaybackQuality()){
				playQuality = player.getPlaybackQuality();
				var infos = "quality:"+ playQuality;
				outE =  outE + currentTime + "#" + infos + "#" + "\n";
			}

			if(ytId != inputVideoId){
				ytId = inputVideoId
				var infos = "videoID:" + ytId;
				outE =   outE + currentTime + "#" + infos + "#" +  "\n";
			}

			if(duration != player.getDuration()){
				duration = player.getDuration();	
				var infos = "duration"+duration;
				outE = outE + currentTime + "#" + infos + "#" + "\n";
			}
  
	
		};
		
		function youTubePlayerChangeVideoId() {
			//'use strict';
		
			var inputVideoId = document.getElementById('YouTube-video-id');
			var videoId = inputVideoId.value;
		
			player.loadVideoById({'videoId': videoId});
			player.pauseVideo();
			recordData = 0;
			run();
			
			youTubePlayerDisplayFixedInfos();
		}

		function youTubePlayerDisplayFixedInfos() {
			'use strict';
		
			if (playerActive()) {
				document.getElementById('YouTube-player-fixed-infos').innerHTML = (
					'Embed code: <textarea readonly>' + player.getVideoEmbedCode() + '</textarea>'
				);
			}
		}

		function youTubePlayerDisplayInfos() {
			//'use strict';
		
			if ((this.nbCalls === undefined) || (this.nbCalls >= 3)) {
				this.nbCalls = 0;
			}
			else {
				++this.nbCalls;
			}
		
			var indicatorDisplay = '<span id="indicator-display" title="timing of informations refreshing">' + ['|', '/', String.fromCharCode(8212), '\\'][this.nbCalls] + '</span>';
		
			if (playerActive()) {
				var state = player.getPlayerState();
		
				var current = player.getCurrentTime();
				var duration = player.getDuration();
				var currentPercent = (current && duration
									  ? current*100/duration
									  : 0);
		
				var fraction = (player.hasOwnProperty('getVideoLoadedFraction')
								? player.getVideoLoadedFraction()
								: 0);
		
				var url = player.getVideoUrl();
		
				if (!current) {
					current = 0;
				}
				if (!duration) {
					duration = 0;
				}
		
				var volume = player.getVolume();
		
				if (!player.personalPlayer.currentTimeSliding) {
					document.getElementById('YouTube-player-progress').value = currentPercent;
				}
		
				document.getElementById('YouTube-player-infos').innerHTML = (
					indicatorDisplay
						+ 'URL: <a class="url" href="' + url + '">' + url + '</a><br>'
						+ 'Quality: <strong>' + player.getPlaybackQuality() + '</strong>'
						+ ' &mdash; Available quality: <strong>' + player.getAvailableQualityLevels() + '</strong><br>'
						+ 'State <strong>' + state + '</strong>: <strong>' + youTubePlayerStateValueToDescription(state) + '</strong><br>'
						+ 'Loaded: <strong>' + (fraction*100).toFixed(1) + '</strong>%<br>'
						+ 'Duration: <strong>' + current.toFixed(2) + '</strong>/<strong>' + duration.toFixed(2) + '</strong>s = <strong>' + currentPercent.toFixed(2) + '</strong>%<br>'
						+ 'Volume: <strong>' + volume + '</strong>%'
				);
		
				document.getElementById('YouTube-player-errors').innerHTML = '<div>Errors: <strong>' + player.personalPlayer.errors + '</strong></div>';
			}
			else {
				document.getElementById('YouTube-player-infos').innerHTML = indicatorDisplay;
			}
		}

		function youTubePlayerPause() {
			//'use strict';
		
			if (playerActive()) {
				player.pauseVideo();
				recordData = 0;
				run();
			}
		}

		/**
 * Play.
	*/
		function youTubePlayerPlay() {
			//'use strict';

			if (playerActive()) {
				player.playVideo();
				recordData = 1;
				run();
			}
		}



		function youTubePlayerStateValueToDescription(state, unknow) {
			//'use strict';
		
			var STATES = {'-1': 'unstarted',   // YT.PlayerState.
						  '0': 'ended',        // YT.PlayerState.ENDED
						  '1': 'playing',      // YT.PlayerState.PLAYING
						  '2': 'paused',       // YT.PlayerState.PAUSED
						  '3': 'buffering',    // YT.PlayerState.BUFFERING
						  '5': 'video cued'};  // YT.PlayerState.CUED
		
			return (state in STATES
					? STATES[state]
					: unknow);
		}
		
		function youTubePlayerStop() {
			//'use strict';
		
			if (playerActive()) {
				player.stopVideo();
				recordData = 0;
				run();
				player.clearVideo();
			}
		}

		function youTubePlayerVolumeChange(volume) {
			//'use strict';
		
			if (playerActive()) {
				player.setVolume(volume);
			}
		}

		var x = 0;
		var outC = ""; 
		var outE = "";
		var playQuality = "";
		var ytId = "";
		var duration = 0;
		var recordData = 0;


        (function () {
            'use strict';

            function init() {
                // Load YouTube library
                var tag = document.createElement('script');

                tag.src = 'https://www.youtube.com/iframe_api';

                var first_script_tag = document.getElementsByTagName('script')[0];

                first_script_tag.parentNode.insertBefore(tag, first_script_tag);

                
				var divOutC = document.createElement("div");
                divOutC.id = "outC";
                main = document.getElementsByTagName("main")[0];
                main.appendChild(divOutC);
                var divOutE = document.createElement("div");
                divOutE.id = "outE";
                main.appendChild(divOutE);
                var inputVideoId = document.getElementById('YouTube-video-id').value;
                var quality = 'hd720'


                // Set timer to display infos
                setInterval(youTubePlayerDisplayInfos, 1000);
            }


            if (window.addEventListener) {
                window.addEventListener('load', init);
            } else if (window.attachEvent) {
                window.attachEvent('onload', init);
            }
        }());               

    </script>

	<!-- Hero section -->
<section class="hero-section">
	<div class="container">
	  <div class="row justify-content-center">
		<div class="col-md-6 text-center">
			<main class="center">
				<section>
				<div class="center">
					<h2>YouTube Video <code>QoE</code> TestBed</h2>
			
					<div id="player"></div>
			
					<div>
					<span class="nowrap">
						<button onclick="document.getElementById('YouTube-video-id').value='IpNG4ohSUkI'; youTubePlayerChangeVideoId();" title="Loneliness | Short Film | 60 Seconds">1</button>
						<button onclick="document.getElementById('YouTube-video-id').value='e-cI1eSX4P0'; youTubePlayerChangeVideoId();" title="Change Your Focus | 60 Second Short Film">2</button>
						<button onclick="document.getElementById('YouTube-video-id').value='rMPkUuMq024'; youTubePlayerChangeVideoId();" title="The Steven Seagal Show #002">3</button>
						<button onclick="document.getElementById('YouTube-video-id').value='aPMmEPCX_Rs'; youTubePlayerChangeVideoId();" title="Filmriot/Filmstro 1 Minute Short Film Contest">4</button>
						<button onclick="document.getElementById('YouTube-video-id').value='tiEPqs4aQEc'; youTubePlayerChangeVideoId();" title="DARK PASSAGE - One Minute Horror Short Film | Winner at RAINDANCE FILM FESTIVAL">5</button>
					</span>
			
					<span class="nowrap margin-left-m margin-right-m">
						<label for="YouTube-video-id">videoId</label>:
						<input id="YouTube-video-id" type="text" value="IpNG4ohSUkI" size="12" pattern="[_\-0-9A-Za-z]{11}" onchange="youTubePlayerChangeVideoId();">
					</span>
			
					<span class="nowrap">
						<button onclick="youTubePlayerPlay();">Play/QoE</button>
						<button onclick="youTubePlayerPause();">Pause</button>
						<button onclick="youTubePlayerStop();">Stop</button>
					</span>
					</div>
			
					<div>
						<input id="YouTube-player-progress" type="range" value="0" min="0" max="100" onchange="youTubePlayerCurrentTimeChange(this.value);" oninput="youTubePlayerCurrentTimeSlide();">
						<label for="YouTube-player-progress">duration</label>
					</div> 
			
					<div>
						<input id="YouTube-player-volume" type="range" value="50" min="0" max="100" onchange="youTubePlayerVolumeChange(this.value);">
						<label for="YouTube-player-volume">volume</label>
					</div>
				</div>
			
				<div class="framed">
					<div id="YouTube-player-infos"></div>
					<div id="YouTube-player-errors"></div>
					<div id="YouTube-player-fixed-infos"></div>
				</div>
				</section>
	
			</main>
		</div>
	  </div>
  
  </section>

        
{% endblock %}
          

